@charset "UTF-8";
@font-face {
  font-family: "TTFirstNeue";
  src: url("../fonts/TTFirsNeue-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TTFirstNeue";
  src: url("../fonts/TTFirsNeue-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TTFirstNeue";
  src: url("../fonts/TTFirsNeue-DemiBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
html {
  font-size: 10px;
}

body.no-scroll {
  overflow: hidden;
  position: fixed;
}

body.hide_menu header {
  transform: translateY(-100%);
  visibility: hidden;
  opacity: 0;
  transition: transform 0.5s, visibility 0.5s, opacity 0.5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "TTFirstNeue", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  color: white;
  font-size: 14px;
  background: #138be1;
  position: fixed;
  z-index: 5;
  transform: translateY(0);
  transition: transform 0.5s, visibility 0.5s, opacity 0.5s;
  max-width: 124rem;
  width: 100%;
  visibility: visible;
  opacity: 1;
}
header a {
  color: white;
}

.container {
  padding: 6rem 10rem;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}
.container.head_con {
  padding-top: 2.05rem;
  padding-bottom: 1rem;
}
.container.f_scrin {
  padding: 0 10rem;
  margin-top: 9.5rem;
}

main {
  background: url("../img/Main@2x.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 76.6rem;
  height: 100%;
  margin-bottom: 14.2rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.left-side {
  display: flex;
  align-items: center;
}

.frame {
  display: flex;
  gap: 2rem;
}
.frame a:hover {
  font-weight: 500;
}
.frame a:hover::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: white;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.frame a {
  display: inline-block;
  position: relative;
}
.frame a:first-child::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 12px;
  background-color: rgb(203, 203, 206);
  margin-left: 20px;
  vertical-align: middle;
}

.right-sider {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.right-sider .links {
  display: flex;
  justify-content: space-evenly;
  width: 10rem;
  border-radius: 2.3rem;
  border: 0.1rem solid white;
  margin-right: 2.4rem;
}
.right-sider .chips {
  border: 1px solid white;
  border-radius: 23px;
  padding: 8px 13px;
}

.authorization::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("../img/user.svg");
  background-size: cover;
  margin-left: 10px;
  vertical-align: middle;
}

.row_level-2 {
  margin: 1.6rem 0;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
}
ul::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../img/search.svg");
  background-size: cover;
  margin-left: 101px;
  vertical-align: middle;
}
ul li:hover {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
}

.first_screen {
  position: relative;
  z-index: 1;
  height: 632px;
  background: white;
  border-radius: 6rem 6rem 0 0;
  margin-top: 1rem;
  padding: 6rem;
}
.first_screen .first_screen__title {
  margin-bottom: 4rem;
  width: 72.5rem;
}
.first_screen .first_screen__title h1 {
  font-size: 6.4rem;
  font-weight: 500;
  line-height: 6.8rem;
  margin-bottom: 1.6rem;
}
.first_screen .first_screen__title p {
  font-size: 1.6rem;
}
.first_screen .first_screen__button {
  display: flex;
  gap: 1.2rem;
}
.first_screen .first_screen__button .btn {
  background: white;
  color: #138be1;
  font-size: 1.6rem;
  border-radius: 1.2rem;
  border: 0.1rem solid rgba(19, 139, 225, 0.4);
  padding: 1.6rem 2.4rem;
}
.first_screen .bg_img {
  position: absolute;
  z-index: -1;
  left: -5.5rem;
  top: 2.8rem;
}

.badge_card {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.8rem;
  padding: 0.8rem 1rem;
  background: rgba(0, 153, 255, 0.1803921569);
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #138be1;
  letter-spacing: 0.1rem;
}

.claster_cards {
  display: flex;
  gap: 4rem;
}
.claster_cards .claster_cards__left {
  background: url("/img/fon card left.svg");
  border-radius: 3.2rem;
  max-width: 50.5rem;
  padding: 3.2rem;
}
.claster_cards .claster_cards__left .claster_cards_left__img {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.claster_cards .claster_cards__left .badge_card {
  margin-bottom: 1.6rem;
}
.claster_cards .claster_cards__left h2 {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.claster_cards .claster_cards__left p {
  font-size: 1.6rem;
}
.claster_cards .claster_cards__right {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2.4rem;
  gap: 4rem;
}
.claster_cards .claster_cards__right .claster_card {
  width: calc(50% - 2rem);
}
.claster_cards .claster_cards__right .claster_card:not(:nth-last-child(-n+2)) {
  border-bottom: 0.1rem solid rgba(28, 29, 34, 0.1215686275);
}
.claster_cards .claster_cards__right .claster_card .badge_card {
  margin-bottom: 24px;
}
.claster_cards .claster_cards__right .claster_card .claster_card__title {
  display: flex;
  gap: 0.8rem;
  align-items: baseline;
}
.claster_cards .claster_cards__right .claster_card h2 {
  font-size: 3.2rem;
}
.claster_cards .claster_cards__right .claster_card h3 {
  font-size: 2.4rem;
}
.claster_cards .claster_cards__right .claster_card p {
  font-size: 1.6rem;
  color: rgba(28, 29, 34, 0.3607843137);
}

.badge {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.68rem;
  letter-spacing: 0.1rem;
  width: -moz-fit-content;
  width: fit-content;
  background: #e2f1fb;
  padding: 0.8rem 1.2rem;
  border-radius: 0.8rem;
  text-transform: uppercase;
  color: #138be1;
  letter-spacing: 0.1rem;
}

.connect_us .badge {
  margin-bottom: 2.4rem;
}
.connect_us h1 {
  font-size: 4.8rem;
  margin-bottom: 2.4rem;
}
.connect_us .swiper-container {
  overflow: hidden;
  position: relative;
}
.connect_us .slider {
  display: flex;
  gap: 2rem;
}
.connect_us .slider .claster_card__slider {
  padding: 1.2rem 0.8rem 2.4rem;
  width: 25%;
  border-radius: 3.2rem;
  box-shadow: 0px 4px 8px 0px rgba(68, 83, 113, 0.0509803922);
  box-shadow: 0px 0px 16px 0px rgba(68, 83, 113, 0.1019607843);
}
.connect_us .slider .claster_card__slider .slider_img {
  padding: 2.9rem 4rem;
  background: #f8f8f8;
  border-radius: 2.4rem;
}
.connect_us .slider .claster_card__slider .claster_card_slider__title {
  padding: 2rem 2rem 0;
  margin-bottom: 2.4rem;
}
.connect_us .slider .claster_card__slider .claster_card_slider__title h3 {
  font-size: 1.8rem;
  height: 4.2rem;
  line-height: 120%;
}
.connect_us .slider .claster_card__slider_disript {
  padding: 0 2rem;
  display: flex;
  gap: 3.95rem;
}
.connect_us .slider .claster_card__slider_disript .disript_card:first-child {
  border-right: 1px solid rgba(28, 29, 34, 0.1215686275);
  padding-right: 3.95rem;
}
.connect_us .slider .claster_card__slider_disript .disript_card h2 {
  color: #138be1;
  font-size: 2.4rem;
}
.connect_us .slider .claster_card__slider_disript .disript_card p {
  font-size: 1.6rem;
}

.advantages h1 {
  line-height: 52px;
}
.advantages .advantages_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
.advantages .advantages_title h1 {
  font-size: 4.8rem;
}
.advantages .advantages_title .switch nav .nav {
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 4rem;
}
.advantages .advantages_title .switch nav .nav button {
  transition: 0.5s;
  color: rgba(19, 139, 225, 0.4);
  font-size: 3.2rem;
  font-weight: 500;
  cursor: pointer;
  background: white;
  border: none;
}
.advantages .advantages_title .switch nav .nav button.active {
  color: #138be1;
}
.advantages .advantages_title .switch .switch_icon {
  display: flex;
  gap: 0.6rem;
  width: 6rem;
  height: 3.2rem;
  padding: 0.4rem;
  border-radius: 100rem;
  background: #e8edf2;
}
.advantages .advantages_title .switch .switch_icon .elis {
  transition: 0.3s;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 100%;
  background: #e8edf2;
}
.advantages .advantages_title .switch .switch_icon .elis.active {
  background: #138be1;
}
.advantages .button {
  background: linear-gradient(90deg, #37cbfa 0%, #229df5 100%);
  padding: 1.2rem 2.4rem;
  border-radius: 1.2rem;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 4rem;
  grid-column: span 4;
  color: white;
  font-size: 1.6rem;
  font-weight: 500;
}

#for_client {
  display: none;
}
#for_client.active {
  display: block;
}
#for_client.active .Wraper__advantages_cards {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#for_company {
  display: none;
}
#for_company.active {
  display: block;
}
#for_company .Wraper__advantages_cards {
  margin-bottom: 6rem;
}
#for_company .conditions {
  position: relative;
  padding: 17.8rem 23.2rem;
}
#for_company .conditions .wraper_conditions {
  display: flex;
  gap: 2.4rem;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
}
#for_company .conditions .wraper_conditions .conditions_title {
  margin-bottom: 1.2rem;
}
#for_company .conditions .wraper_conditions .conditions_title h1 {
  margin-bottom: 1.6rem;
}
#for_company .conditions .wraper_conditions .conditions_title p {
  font-size: 1.6rem;
}
#for_company .conditions .wraper_conditions .conditions_btn_form {
  display: flex;
  gap: 1.2rem;
}
#for_company .conditions .wraper_conditions .conditions_btn_form a {
  padding: 1.6rem 2.4rem;
  border-radius: 1.2rem;
  border: 0.1rem solid rgba(19, 139, 225, 0.4);
  color: #138be1;
  font-size: 1.6rem;
  cursor: pointer;
}
#for_company .conditions .conditions_img {
  position: absolute;
}
#for_company .conditions .conditions_img.LT {
  left: 7rem;
  top: 1.9rem;
}
#for_company .conditions .conditions_img.RT {
  right: 3.5rem;
  top: 3.5rem;
}
#for_company .conditions .conditions_img.LB {
  left: 7rem;
  bottom: 7rem;
}
#for_company .conditions .conditions_img.RB {
  right: 6.7rem;
  bottom: 11.9rem;
}

.modal_page {
  display: none;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
.modal_page .modal_wrapper {
  display: flex;
  justify-content: space-between;
  width: 80rem;
  height: 66.5rem;
  padding: 4rem;
  background: white;
  border-radius: 3.5rem;
}
.modal_page .modal_wrapper .close {
  cursor: pointer;
}

.Wraper__advantages_cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
}
.Wraper__advantages_cards .advantages_card {
  padding: 2.4rem;
  border-radius: 2.4rem;
  border: 0.1rem solid rgba(28, 29, 34, 0.1215686275);
}
.Wraper__advantages_cards .advantages_card .badge_card {
  margin-bottom: 2rem;
}
.Wraper__advantages_cards .advantages_card h3 {
  font-size: 1.8rem;
  margin-bottom: 8px;
}
.Wraper__advantages_cards .advantages_card p {
  font-size: 1.6rem;
}
.Wraper__advantages_cards .advantages_card.big {
  position: relative;
  grid-row: span 2;
}
.Wraper__advantages_cards .advantages_card.big .card_img {
  position: absolute;
  bottom: -2.5rem;
}
.Wraper__advantages_cards .advantages_card.big_col {
  position: relative;
  grid-column: span 2;
}
.Wraper__advantages_cards .advantages_card.big_col h3,
.Wraper__advantages_cards .advantages_card.big_col p {
  max-width: 28.8rem;
}
.Wraper__advantages_cards .advantages_card.big_col .card_img {
  position: absolute;
  right: 1.2rem;
  top: -1.2rem;
}

*.btn {
  background: linear-gradient(90deg, #37cbfa 0%, #229df5 100%);
  border-radius: 1.2rem;
  padding: 1.2rem 2.4rem;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.relevance {
  padding: 4rem;
  border-radius: 4.8rem;
  border: 1px solid;
  border-image-source: linear-gradient(93.3deg, rgba(37, 170, 245, 0.5) -0.81%, #bde5fc 99.37%);
  background: url(../img/banner.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.relevance .badge {
  margin-bottom: 2.4rem;
}
.relevance .relevance_title {
  margin-bottom: 2.4rem;
}
.relevance .relevance_title h1 {
  font-size: 4.8rem;
  line-height: 5.2rem;
  margin-bottom: 1.6rem;
}
.relevance .relevance_title p {
  font-size: 16px;
  line-height: 24px;
  max-width: 72rem;
}
.relevance .btn.blue {
  margin-bottom: 4rem;
}
.relevance .relevance_container_cards .title_cards {
  margin-bottom: 2rem;
}
.relevance .relevance_container_cards .title_cards h2 {
  font-size: 3.3rem;
  line-height: 150%;
}
.relevance .relevance_container_cards .relevance_wrapper_cards {
  display: flex;
  gap: 1.2rem;
}
.relevance .relevance_container_cards .relevance_wrapper_cards .relevance_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  height: 33.4rem;
  width: 33%;
  background: white;
  border-radius: 1.2rem;
  padding: 2.4rem;
}
.relevance .relevance_container_cards .relevance_wrapper_cards .relevance_card .title_card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.relevance .relevance_container_cards .relevance_wrapper_cards .relevance_card .title_card h3 {
  font-size: 2.4rem;
  line-height: 150%;
}
.relevance .relevance_container_cards .relevance_wrapper_cards .relevance_card .title_card p {
  font-size: 1.6rem;
  line-height: 150%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4; /* Стандартное свойство */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.relevance .relevance_container_cards .relevance_wrapper_cards .relevance_card .bottom_content_card {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.relevance .relevance_container_cards .relevance_wrapper_cards .relevance_card .bottom_content_card p {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}
.relevance .relevance_container_cards .relevance_wrapper_cards .relevance_card .bottom_content_card .bottom_card_icon {
  cursor: pointer;
  display: flex;
  padding: 1rem;
  border: 0.1rem solid rgba(28, 29, 34, 0.1215686275);
  border-radius: 100%;
  margin-left: auto;
}
.relevance .relevance_container_cards .relevance_wrapper_cards .relevance_card.more {
  justify-content: flex-end;
  position: relative;
  background: linear-gradient(90deg, #37cbfa 0%, #229df5 100%);
}
.relevance .relevance_container_cards .relevance_wrapper_cards .relevance_card.more .more_img {
  position: absolute;
  top: -1.2rem;
  left: -2.33rem;
}
.relevance .relevance_container_cards .relevance_wrapper_cards .relevance_card.more h3 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: white;
}
.relevance .relevance_container_cards .relevance_wrapper_cards .relevance_card.more .btn {
  width: -moz-fit-content;
  width: fit-content;
  background: white;
  color: black;
  border-radius: 1.2rem;
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  font-weight: 500;
}
.relevance .relevance_container_cards .relevance_wrapper_cards .relevance_card.more .btn a {
  display: block;
  width: 116px;
  text-align: center;
}
.relevance .detail_info_card .modal_wrapper {
  overflow: scroll;
  position: relative;
  flex-direction: column;
  gap: 4rem;
}
.relevance .detail_info_card .modal_wrapper::-webkit-scrollbar {
  width: 0.4rem;
}
.relevance .detail_info_card .modal_wrapper::-webkit-scrollbar-track {
  background: white;
}
.relevance .detail_info_card .modal_wrapper::-webkit-scrollbar-thumb {
  background: #e2e2e5;
  border-radius: 0.6rem;
}
.relevance .detail_info_card .modal_wrapper .close {
  position: absolute;
  top: 4rem;
  right: 4rem;
}
.relevance .detail_info_card .modal_wrapper .detail_info_card__description .logo {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}
.relevance .detail_info_card .modal_wrapper .detail_info_card__description .detail_info__badge {
  color: rgba(28, 29, 34, 0.3607843137);
  font-size: 1.4rem;
  line-height: 1.68rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.relevance .detail_info_card .modal_wrapper .detail_info_card__description .title {
  margin-bottom: 2rem;
}
.relevance .detail_info_card .modal_wrapper .detail_info_card__description .title h2 {
  font-size: 3.2rem;
  line-height: 4.4rem;
  margin-bottom: 1.6rem;
}
.relevance .detail_info_card .modal_wrapper .detail_info_card__description .title p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.relevance .detail_info_card .modal_wrapper .detail_info_card__description .container_badge {
  display: flex;
  gap: 1.2rem;
}
.relevance .detail_info_card .modal_wrapper .additional_materials h3 {
  font-size: 2.4rem;
  line-height: 3.2rem;
}
.relevance .detail_info_card .modal_wrapper .additional_materials .link_conteiner {
  display: flex;
  gap: 1.2rem;
}
.relevance .detail_info_card .modal_wrapper .additional_materials .link_conteiner .link_wrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
  width: 50%;
  border-radius: 2.4rem;
  padding: 1.2rem 2rem 1.2rem 1.2rem;
  box-shadow: 0px 4px 8px 0px rgba(68, 83, 113, 0.0509803922);
  box-shadow: 0px 0px 16px 0px rgba(68, 83, 113, 0.1019607843);
}
.relevance .detail_info_card .modal_wrapper .additional_materials .link_conteiner .link_wrapper .icon_format {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 0.8rem;
  background: #f7e1de;
  padding: 1.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #f15742;
}
.relevance .detail_info_card .modal_wrapper .additional_materials .link_conteiner .link_wrapper p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.relevance .detail_info_card .modal_wrapper .additional_materials .link_conteiner .link_wrapper .icon_download {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 0.8rem;
  border: 1px solid var(--stroke-secondary, rgba(28, 29, 34, 0.1215686275));
  margin-left: auto;
}
.relevance .detail_info_card .modal_wrapper .curator .curator_title h3 {
  font-size: 2.4rem;
  line-height: 3.2rem;
}
.relevance .detail_info_card .modal_wrapper .curator .curator_wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: 2.4rem;
  border: 0.1rem solid rgba(28, 29, 34, 0.1215686275);
  padding: 1.2rem 2.4rem;
}
.relevance .detail_info_card .modal_wrapper .curator .curator_wrapper .curator_discript h3 {
  font-size: 1.8rem;
  line-height: 2.8rem;
}
.relevance .detail_info_card .modal_wrapper .curator .curator_wrapper .curator_discript p {
  font-size: 1.4rem;
  line-height: 2rem;
}
.relevance .detail_info_card .modal_wrapper .curator .curator_wrapper .curator_contact {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
}
.relevance .detail_info_card .modal_wrapper .btn_container {
  display: flex;
  justify-content: flex-end;
  gap: 1.2rem;
}
.relevance .detail_info_card .modal_wrapper .btn_container .btn:first-child {
  background: white;
  color: #138be1;
  border: 0.1rem solid rgba(19, 139, 225, 0.4);
}

.development .badge {
  margin-bottom: 2.4rem;
}
.development .development_title {
  margin-bottom: 4rem;
}
.development .development_title h1 {
  font-size: 4.8rem;
  line-height: 5.2rem;
}
.development .development__cars_container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 4rem;
}
.development .development__cars_container.invis {
  display: none;
}
.development .development__cars_container .card_wrapper {
  display: flex;
  width: calc((100% - 4rem) / 3);
  gap: 2.4rem;
  flex-direction: column;
  border-radius: 3.2rem;
  padding: 1.6rem;
  box-shadow: 0px 4px 8px 0px rgba(68, 83, 113, 0.0509803922);
  box-shadow: 0px 0px 16px 0px rgba(68, 83, 113, 0.1019607843);
}
.development .development__cars_container .card_wrapper .card_title h2 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-bottom: 1.2rem;
}
.development .development__cars_container .card_wrapper .card_title p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.development .development__cars_container .card_wrapper .btn {
  width: 100%;
  text-align: center;
  background: white;
  color: #138be1;
  border: 0.1rem solid rgba(19, 139, 225, 0.4);
}
.development .btn {
  margin: 0 auto;
  cursor: pointer;
}

.success_stories .success_stories_title .badge {
  margin-bottom: 2.4rem;
}
.success_stories .success_stories_title h1 {
  font-size: 4.8rem;
  line-height: 5.2rem;
}
.success_stories .success_cards_conteinre {
  display: flex;
  gap: 2rem;
}
.success_stories .success_cards_conteinre .cards_conteiner {
  position: relative;
  display: flex;
  width: calc((100% - 4rem) / 3);
}
.success_stories .success_cards_conteinre .cards_conteiner .card_wrapper {
  width: 100%;
}
.success_stories .success_cards_conteinre .cards_conteiner .card_wrapper__moreContent {
  position: absolute;
  width: 40.8rem;
  height: 37.9rem;
  padding: 2.4rem;
  background: white;
}
.success_stories .success_cards_conteinre .card_wrapper {
  display: flex;
  flex-direction: column;
  width: calc((100% - 4rem) / 3);
  height: 40rem;
  border-radius: 3.2rem;
  padding: 3.2rem;
  box-shadow: 0px 4px 8px 0px rgba(68, 83, 113, 0.0509803922);
  box-shadow: 0px 0px 16px 0px rgba(68, 83, 113, 0.1019607843);
}
.success_stories .success_cards_conteinre .card_wrapper .card_badge {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: rgba(28, 29, 34, 0.3607843137);
  margin-bottom: 0.8rem;
}
.success_stories .success_cards_conteinre .card_wrapper .title {
  margin-bottom: 2rem;
}
.success_stories .success_cards_conteinre .card_wrapper .title h3 {
  font-size: 1.8rem;
  line-height: 2.6rem;
}
.success_stories .success_cards_conteinre .card_wrapper .description h1 {
  font-size: 4.8rem;
  line-height: 5.2rem;
  margin-bottom: 0.8rem;
}
.success_stories .success_cards_conteinre .card_wrapper .description h3 {
  font-size: 1.8rem;
  line-height: 2.6rem;
}
.success_stories .success_cards_conteinre .card_wrapper .badge {
  text-transform: none;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-top: auto;
}/*# sourceMappingURL=style.css.map */